<mat-card class="fundo">
    <mat-card-title>Novo Produto</mat-card-title>
    <form #addForm="ngForm">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name"
            name="name">
        </mat-form-field>
        <mat-form-field>
            <input class="texto" matInput placeholder="Preço (R$)" [(ngModel)]="product.price"
            name ="price">
        </mat-form-field>
    </form>
    <button [disabled]="!product.name || !product.price" class="botaoSave" mat-raised-button
    (click)="addProduct()" routerLink="/products">
        Salvar
    </button>
    <button class="botaoCancel" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>